<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link href="/css/display.css" rel="stylesheet" type="text/css">

  <title>Bazarre. | Bookmarks</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="./">B.</a>
    <button style="color:white;" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span style="color:white;" class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p style="font-family: 'Raleway', serif; font-weight: 200; font-size: 200%; margin-left: 15px; margin-top: 15px;"
          class="nav-link"><%= fullname %> </p>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" method="GET" action="/update-bookmarks">
      <input type="hidden" name="bookmark_list" id="bookmarkHTML">
      <button type="submit" href="/update-bookmarks" style="font-size: 120%;" id="bookmarks" class="btn">Save Changes</button>
  </form>
    <form action="/website">
      <button style="font-size: 120%;" href="./website" class="btn">New Search</button>
    </form>
    <form class="form-inline my-2 my-lg-0" method="GET" action="/auth/logout">
      <button style="font-size: 120%;" id="logout" class="btn" type="submit" href="/auth/logout">Logout</button>
    </form>
  </nav>


  <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
    <div style="width: 400px; margin-left: 350px;" class="carousel-inner">
    </div>
    <a style="margin-right: -10%;" class="carousel-control-prev" href="#carouselExampleControls" role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script type='text/javascript'>

    var bookmarks = <%-JSON.stringify(bookmarks)%>;

    var input = document.getElementById('bookmarkHTML');
    input.value = bookmarks;

    for (var i = 0; i < bookmarks.length; ++i) {
      if (i == 0) {
        var html = '<div style="width: 400px;" class="carousel-item active"><div id="card" class="card" style="width: 400px;"><span style="text-align: center; display:block overflow: hidden; width: 400px;"><img style="max-height: 400px; width: auto; max-width: 400px; overflow: hidden;" src="' + bookmarks[i][2] + '" class="card-img-top"></span><div class="card-body"><h5 class="card-title" style="color: white">' + bookmarks[i][0] + '</h5><a class="unbookmark btn btn-primary" href="#" role="button" data-slide="next">Unbookmark</a><a href="' + bookmarks[i][1] + '" target="_blank" class="btn btn-primary">Visit Site</a></div></div></div>';
        $('.carousel-inner').append(html);
      } else {
        var html = '<div style="width: 400px;" class="carousel-item"><div id="card" class="card" style="width: 400px;"><span style="text-align: center; display:block overflow: hidden; width: 400px;"><img style="max-height: 400px; width: auto; max-width: 400px; overflow: hidden;" src="' + bookmarks[i][2] + '" class="card-img-top"></span><div class="card-body"><h5 class="card-title" style="color: white">' + bookmarks[i][0] + '</h5><a class="unbookmark btn btn-primary" href="#" role="button" data-slide="next">Unbookmark</a><a href="' + bookmarks[i][1] + '" target="_blank" class="btn btn-primary">Visit Site</a></div></div></div>';

        $('.carousel-inner').append(html);
      }
    }


    var $carousel = $('#carouselExampleControls');

    $(document).on('click', '.unbookmark', function () {
      var title = $(this).siblings('.card-title')[0].innerText;

      for(var i = 0; i < bookmarks.length; ++i) {
        if(bookmarks[i][0] == title) {
          bookmarks.splice(i, 1);
          input.value = bookmarks;
          console.log(bookmarks);
          break;
        }
      }
      currentIndex = $('div.active').index();
      var ActiveElement = $carousel.find('.carousel-item.active');
      ActiveElement.remove();
      var NextElement = $carousel.find('.carousel-item').first();
      NextElement.addClass('active');

    });



  </script>
</body>

</html>